body {
    font-size: 18px;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    color: #555;
    background-color: #5c6bc0;
    margin: 0;
}

img {
    border-style: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.hide {
    display: none;
}

.main-container {
    width: 90%;
    max-width: 964px;
    margin-top: 128px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    width: auto;
    margin-bottom: 16px;
}

.box-container {
    padding: 32px;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
}

.text-center {
    text-align: center;
}

.img-container {
    position: relative;
}

.fluid-container {
    position: absolute;
    top: -122px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.circle {
    border-radius: 50%;
}

.profile-img {
    width: 164px;
    height: 164px;
}

.dev-name {
    margin-top: 54px;
    margin-bottom: 0px;
    color: #000;
}

.dev-title {
    color: rgba(0, 0, 0, .4);
    font-size: 18px;
    margin: 0;
}

.social-container a {
    margin: 0 8px;
}

.translate-container {
    margin: 8px 32px;
    text-align: right;
    color: #FFF;
}

.active {
    font-weight: 600;
}

.pointer {
    cursor: pointer
}

.section-title {
    margin: 0 0 18px 0;
}

.collection {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
}

.collection .collection-item:not(:last-child) {
    margin-bottom: 16px;
}

.collection-item .main {
    margin: 0;
    font-weight: 600;
}

.collection-item .description {
    color: rgba(0, 0, 0, .4);
    margin: 0;
}